body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; /* Navbar fixa no topo */
    top: 0;
    left: 0;
    width: 95%;
    background-size: cover;
    background-position: center;
    padding: 10px 40px;
    height: 80px;
    z-index: 10;
}
.navbar .brand {
    font-family: 'Anta', Courier, monospace; /* Tipografia diferente */
    font-size: 24px;
    color: #fff;
}
.navbar .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar .menu li {
    margin-left: 20px;
}
.navbar .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.navbar .menu li a:hover {
    text-decoration: underline;
}
.navbar .menu li a.contact-button {
    background-color: #FF6E14; /* Cor de fundo rosa */
    padding: 10px 20px;
    border-radius: 8px; /* Pontas arredondadas */
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.navbar .menu li a.contact-button:hover {
    background-color: #ff6e1473; /* Cor rosa mais clara ao passar o mouse */
}


.session-home {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Back.png'); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Camada preta semitransparente */
    z-index: -1;
    animation: zoomAnimation 10s infinite alternate; /* Adicionando a animação */
}
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 2, 15, 0.884); /* Camada preta semitransparente */
    z-index: -1;
}

.hero-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    z-index: 2; /* Garante que o conteúdo fique acima da camada preta */
}
.text-container {
    flex: 1;
    text-align: left;
}

.text-container h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 500;
}

.text-container p {
    font-size: 24px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-circle {
    border-radius: 50%;
    width: 25em;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-circle img {
    max-width: 70%;
    max-height: 70%;
}


.cards-section {
    padding: 60px 20px;
    text-align: center;
}

.cards-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #373636;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-size: 24px;
    margin: 0 0 10px;
}

.card-content p {
    font-size: 16px;
    margin: 0 0 20px;
}

.card-button {
    background-color: #FF6E14;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
}

.card-button:hover {
    background-color: #ff6e145b;
}


.development-process {
    padding: 60px 20px;
    text-align: center;
}

.development-process h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.progress-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.progress-line {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-top: 2px solid #ccc;
    position: relative;
}


.progress-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-step::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #FF6E14;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: -11px; 
    z-index: 1;
}

.progress-content {
    position: absolute;
    top: 30px;
    width: 200px;
    text-align: center;
}

.progress-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.progress-content p {
    font-size: 14px;
}
#current-year {
    display: block;
    text-align: center;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.card-black {
    background-color: #373636;
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
}
.card-black h3 {
    font-size: 24px;
    margin: 0 0 10px;
    padding: 20px;
    text-align: center;
}

.card-black img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.1s;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card-black:hover img {
    transform: scale(1.1);
}

.card-black:hover .card-overlay {
    opacity: 1;
}

.title-container {
    text-align: center;
    margin-top: 8%; /* Ajuste este valor conforme necessário */

}

.centered-title {
    display: inline-block;
    position: relative;
}

.centered-title::after {
    content: "";
    display: block;
    width: 110%; /* 100% + 2% antes + 2% depois */
    height: 0.5%;
    background-color: #ffffff;
    position: absolute;
    left: -5%; /* Move 2% para a esquerda */
    bottom: -5px;
}


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.description-container{
    flex: 1;
    margin: 10px;
}

.video-container {
    box-shadow: 
        0 4px 4px rgba(250, 81, 2, 0.25), /* Drop shadow */
        inset 0 4px 4px rgba(250, 81, 2, 0.25); /* Inner shadow */
        border-radius: 10px;
    flex: 1;
    margin: 10px;
}

.subtitle {
    margin-bottom: 10px;
    text-align: center;

}

.description {
    font-size: 16px;
    line-height: 1.5;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Pontas arredondadas */
}

.text-center{
    text-align: center;
}

.card-detail {
    position: relative;
    background-color: #000;
    padding: 3%;
    margin: 20px;
    border-radius: 10px;
    width: 25%; /* Para que dois cartões ocupem a largura disponível */
    box-shadow: 
        0 4px 4px rgba(250, 81, 2, 0.25), /* Drop shadow */
        inset 0 4px 4px rgba(250, 81, 2, 0.25); /* Inner shadow */
    color: #fff; /* Cor do texto para contrastar com o fundo */
    text-align: center;
    overflow: hidden; /* Para garantir que o conteúdo extra não saia do contêiner */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 170, 80, 0.02); /* Camada transparente de FF AA 50 com 3% de opacidade */
    border-radius: 10px;
    pointer-events: none; /* Para garantir que a camada não interfira na interação com o conteúdo */
}

.content {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique sobre a camada transparente */
}

.card-detail h2 {
    margin-top: 0;
}

.card-detail p {
    margin-bottom: 0;
}

.cards-container-detail {
    display: flex;
    justify-content: center; /* Centraliza os cartões horizontalmente */
    align-items: center; /* Centraliza os cartões verticalmente */
    gap: 20px; /* Espaço entre os cartões */
    width: 100%; /* Pode ser ajustado conforme necessário */
    padding: 20px;
    box-sizing: border-box;
}

.t-2{
    font-size: 2.0em;
}

.t-2-5{
    font-size: 1.5em;
}
.t-3{
    font-size: 3.0em;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    color: #fff; /* Cor do texto branco para contraste */
}

td {
    padding: 8px;
    text-align: left;
}

/* Alinhar a segunda coluna à direita */
td:last-child {
    text-align: right;
    font-weight: 600; /* Semi bold */
}

td:first-child {
    font-weight: 800; /* Extra bold */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-button {
    padding: 10px 20px;
    background-color: #FF6E14; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.centered-button:hover {
    background-color: #d4580b; /* Cor de fundo azul mais escura ao passar o mouse */
}

a.centered-button{
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}